@import "../node_modules/codemirror/lib/codemirror.css"
@import "../node_modules/codemirror/addon/hint/show-hint.css"


// ============================================================================
// Mixins
// ============================================================================

inline(va)
  display inline-block
  vertical-align va

shadow(size, opacity)
  box-shadow 0px size 2*size rgba(0, 0, 0, opacity)

forceWidth(width)
  width width
  min-width width
  max-width width

defaultFont()
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif

codeFont()
  font-family menlo, monospace

noSelect()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

selectedColor = #09c
hoveredColor = #0c9
controlledColor = #c00


// ============================================================================
// Generic
// ============================================================================

html, body
  margin 0
  overflow hidden

[contenteditable]:active, [contenteditable]:focus, button:active, button:focus
  outline none

[contenteditable]
  cursor text

body
  defaultFont()
  font-size 12px
  color #333

canvas
  width 100%
  height 100%

.CursorOverride *
  cursor inherit !important


// ============================================================================
// DragHintContainer
// ============================================================================

.DragHintContainer
  position fixed
  top 0
  left 0
  pointer-events none
  z-index 10
  .DragHint
    position absolute


// ============================================================================
// Layout
// ============================================================================

CreatePanelWidth = 120px
InspectorHeight = 50%
MenubarHeight = 24px
RightResizeWidth = 10px

.Editor
  position absolute
  display flex
  width 100%
  height 100%

.Center
  flex-grow 2
  display flex
  flex-direction column
  height 100%

.CreatePanel
  position relative
  flex-shrink 0
  box-sizing border-box
  top 0
  left 0
  bottom 0
  width CreatePanelWidth
  background-color #eee
  border-right 1px solid #ccc

.RightPanel
  position relative
  // this panel should not shrink
  flex-shrink 0
  box-sizing border-box

.CreatePanelContainer, .RightPanelContainer
  position absolute
  width 100%
  height 100%

.RightResize
  z-index 2
  position absolute
  width RightResizeWidth
  margin-left "-%s" % (RightResizeWidth / 2)
  height 100%
  cursor ew-resize

.Outline
  noSelect()

  position absolute
  top 0
  bottom InspectorHeight
  left 0
  right 0
  box-sizing border-box
  background-color #fff
  border-left 1px solid #ccc

.Inspector
  noSelect()

  position absolute
  top InspectorHeight
  bottom 0
  left 0
  right 0
  box-sizing border-box
  background-color #fff
  border-left 1px solid #ccc

.Canvas
  box-sizing border-box
  flex-grow 2
  position relative

  canvas
    position absolute

.LayoutMode
  noSelect()

  position absolute
  border 1px solid #ccc
  width 20px
  height 20px
  right 3px
  top -22px
  box-sizing border-box
  background-color #eee
  background-size 16px 16px
  background-position 1px 1px
  background-repeat no-repeat
  text-align center
  font-size 16px

  &.FullScreen
    top 2px

.Menubar
  box-sizing border-box
  height MenubarHeight
  background-color #eee
  border-bottom 1px #ccc solid

// ============================================================================
// Layout "Chrome"
// ============================================================================

HeaderSize = 18px

.Header
  width 100%
  height HeaderSize
  box-sizing border-box
  line-height HeaderSize - 2
  text-align center
  color #666
  text-shadow 0px 1px 0px rgba(255,255,255,0.5)
  background-color #eee
  background-image linear-gradient(to bottom, #fff, #ddd)
  border-top 1px solid #e6e6e6
  border-bottom 1px solid #d3d3d3

.Scroller
  width 100%
  height "calc(100% - %s)" % HeaderSize
  overflow-y auto
  overflow-x hidden

// ============================================================================
// Menubar
// ============================================================================

.Menubar
  user-select none
  padding 4px
  display flex
  .MenubarItem
    padding 0 8px
    cursor pointer
    &:hover
      color #09c
    &.isDisabled
      cursor default
      color #aaa
      &:hover
        color #aaa
  .MenubarSeparator
    width 24px
  .ToolbarRight
    flex-grow 1
    text-align right


// ============================================================================
// CreatePanel
// ============================================================================

.Thumbnail
  width 100%
  height 100%

.CreatePanelItem
  position relative
  padding 6px 6px 18px 6px

  .CreatePanelThumbnail
    cursor grab
    width CreatePanelWidth - 12px
    height CreatePanelWidth - 12px
    background-color white
    margin-bottom 6px
    shadow 1px 0.5

  .CreatePanelItemEditButton
    float right
    color transparent
    cursor pointer
  .CreatePanelItemRemoveButton
    position absolute
    top 7px
    right 7px
    font-size 16px
    color transparent
    cursor pointer

  &:hover
    .CreatePanelItemEditButton, .CreatePanelItemRemoveButton
      color rgba(0, 0, 0, 0.25)
      &:hover
        color rgba(0, 0, 0, 0.6)

  &.isEditing
    .CreatePanelThumbnail
      outline 2px solid #09c
    .CreatePanelItemEditButton
      color #09c !important

.CreatePanelAddItem
  font-size 18px
  text-align center


// ============================================================================
// Outline
// ============================================================================

.OutlineChildren
  margin-left 1.5em

.OutlineItem
  &.isHovered
    background-color tint(hoveredColor, 88%)
  &.isActiveController
    background-color tint(controlledColor, 88%)
  &.isSelected
    background-color tint(selectedColor, 88%)
  &.isController
    .ElementRow
      color #c66


.ElementRow
  display flex
  padding: 0.175em 0
  .ElementRowDisclosure
    width 1.5em
  .ElementRowLabel
    flex-grow 1


.DisclosureTriangle
  width 0
  height 0
  margin-top .11em
  margin-left 0.134em
  border-top: 0.5em solid transparent
  border-bottom: 0.5em solid transparent
  border-left: 0.866em solid #ccc
  transition transform 0.05s
  &.isExpanded
    transform: rotate(90deg)
  &.Hidden
    // visibility hidden
    display none



.OutlineDragging
  position fixed
  z-index 20
  background-color white
  pointer-events none
  box-shadow 0px 2px 6px rgba(0,0,0,0.5)
  opacity 0.7

.OutlinePlaceholder
  background-color #bbb
  box-shadow inset 0px 1px 3px rgba(0,0,0,0.5)


// ============================================================================
// Inspector
// ============================================================================

.InspectorList
  padding 0.5em




// ============================================================================
// Attributes List
// ============================================================================

.AttributesList
  margin-left 1.5em
  // margin-bottom 1em


// ============================================================================
// ComponentSection
// ============================================================================

.ComponentSection
  padding-bottom 1.25em

.ComponentSectionTitle
  // padding: 0.175em 0
  margin-left 2.25em
  color #999


// ============================================================================
// AttributeRow
// ============================================================================

.AttributeRow
  padding: 0.175em 0
  display flex

  &.isInherited
    opacity 0.5

  &.isGoingToChange
    .cm-number, .cm-operator
      color: #c00

  .AttributeRowControl
    forceWidth(1.5em)

  .AttributeRowLabel
    forceWidth(9em)

  .AttributeRowExpression
    flex-grow 1

  &.isWrapped
    flex-wrap wrap
    .AttributeRowExpression
      padding-left 3.25em
      width: 100%

  .AttributeControl
    width 1em
    height 1em
    border-radius 1em
    border 1px solid transparent
    &.isControllable
      border-color #c66

    &.isImplicitlyControlled
      background-color rgba(204, 102, 102, 0.4)

    &.isControlled
      background-color #c66

.AddVariableRow
  padding 0.05em 0 0.175em 0 // HACK to get it to line up
  margin-left 1.5em


// ============================================================================
// AttributeLabel
// ============================================================================

.AttributeLabel
  margin-right 0.5em
  border-radius 20px
  padding 0 0.75em
  cursor grab
  &.Editing
    cursor text

.AttributeLabel, .ReferenceToken
  defaultFont()
  color #333
  background-image linear-gradient(to bottom, #f4f4f4, #e4e4e4)
  &.isHovered
    background-image linear-gradient(to bottom, tint(hoveredColor, 75%), tint(hoveredColor, 40%))
  &.isGoingToChange
    background-image linear-gradient(to bottom, tint(controlledColor, 75%), tint(controlledColor, 40%))


// ============================================================================
// Expression
// ============================================================================

.Expression
  codeFont()

.ExpressionValue
  color #ccc

.ReferenceToken
  border-radius 20px
  padding 0 0.75em
  display inline-block

.SpreadValue
  &:before
    content "["
    opacity 0.5
  &:after
    content "]"
    opacity 0.5

.SpreadValueItem
  &:not(:last-child):after
    content ", "
    opacity 0.5

// ============================================================================
// Editable Text
// ============================================================================

.EditableTextInline
  display inline
  padding-right 0.75em


// ============================================================================
// CodeMirror
// ============================================================================

.CodeMirror
  height auto
  background-color transparent
  font-family inherit
  font-size inherit
  line-height inherit
  color inherit
  .CodeMirror-lines
    padding 0
  pre
    padding 0

  // This fixes a CodeMirror bug/feature where old selection stuff remains
  // highlighted even after the CodeMirror is blurred.
  .CodeMirror-selected
    opacity 0
  &.CodeMirror-focused
    .CodeMirror-selected
      opacity 1

// Numbers are scrubbable
.cm-number
  cursor ew-resize

.CodeMirror-hints
  font-family inherit










// ============================================================================
// To refactor...
// ============================================================================




AddButtonSize = 1em


.AddButton
  width AddButtonSize * 2
  height AddButtonSize
  padding 0
  line-height AddButtonSize
  font-size 1em
  color #777
  font-family verdana
  font-weight bold
  text-shadow 0 1px 0 rgba(255,255,255,0.5)
  background-color #ddd
  background-image linear-gradient(to bottom, #eee, #ccc)
  box-shadow 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55)
  border-radius 20px
  border 0px
  &:before
    content "+"
  &:hover
    background-image linear-gradient(to bottom, #f3f3f3, #d3d3d3)
  &:active
    background-image linear-gradient(to bottom, #cacaca, #d5d5d5)
    box-shadow 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4)
